.subscription-list .form-edit{
    position: absolute;
    top: 25px;
    left: 400px;
}

.subscription-list .seacrh-filter{
    position: absolute;
    top: 25px;
    left: 207px;
    width: 190px;
    top: 0;
}

.subscription-list .btn.__other{
    position: relative;
    right: 45px;
}